<h2>希望/仮確定シフト編集</h2>
<%= form_with model: @hope_shift, url:admin_hope_shift_path(@hope_shift.id), method: :patch do |f| %>
  <%= f.date_select :date, {}, class: 'form-control' %>
  <%#= f.datetime_select :start_date, {}, class: 'form-control' %>

  <%#= f.datetime_select :end_date, {}, class: 'form-control' %>

  <%= f.number_field :working_time_start, in: 0..24 %>
  <%= f.number_field :working_time_end, in: 0..24 %>
  <%= f.submit "更新" %>
<% end %>

<div id="calendar"></div> <!-- カレンダーを特定のページに読み込ませる -->