<div class="show-container" style= "width:50%; margin: 20px auto">
  <h4 style="margin-bottom: 20px; border-left: 2px solid #2D6F4C; padding: 10px;">新規会員登録</h4>

<%= form_with model: @end_user, url: end_user_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
  
  <div class="field">
    <%= f.label :name, "氏名" %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワード(確認用)" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録", class:"btn btn-success", style:"display:block; margin: 0 auto;"%>
  </div>
<% end %>

<%#= render "public/shared/links" %>

<h4 style="margin-bottom: 20px; border-left: 2px solid #2D6F4C; padding: 10px;">既に登録済みの方</h4>
  <%= link_to new_end_user_session_path do %>
    <span class="glyphicon glyphicon-chevron-left"><u>こちら</u></span>
  <% end %>
  <span>からログインしてください。</span>
</div>
