<h1>管理者仮確定シフト編集ページ</h1>
<%= form_with model: @hope_shift, url:admin_hope_shift_path(@hope_shift.id), method: :patch do |f| %>
  <%= f.date_select :date, {}, class: 'form-control' %>
  <%#= f.datetime_select :start_date, {}, class: 'form-control' %>

  <%#= f.datetime_select :end_date, {}, class: 'form-control' %>

  <%= f.number_field :working_time_start, in: 0..24 %>
  <%= f.number_field :working_time_end, in: 0..24 %>
  
     <%= form_with model: @shift, url:admin_shift_path, method: :patch do |f| %>
    　<%= f.number_field :break_time_start, in: 0..24 %>
      <%= f.number_field :break_time_end, in: 0..24 %>
     <% end %>
  
  <%= f.submit "更新" %>
<% end %>