<!-- 仮確定シフト一覧画面 -->
<div class="row" style="width:60%; margin:0 auto;">
<h4>仮確定シフト一覧</h4>
  <%= form_with model: @shift, url:admin_shifts_path, method: :post do |f| %>
    <table class="table table-bordered">
    	<tr>
    		<th>希望者</th>
    		<th>希望日時</th>
    		<th>労働開始時間</th>
    		<th>労働終了時間</th>
    		
    		<!-- 休憩時間は空欄がデフォルトです。このページで設定してください -->
    		<th>休憩開始時間</th>
    		<th>休憩終了時間</th>
    	</tr>
  
      <% @hope_shifts.each do |hope_shift| %>
    	<tr>
    		<td><%= hope_shift.end_user.name %></td>
          <td><%= hope_shift.date %></td>
          <td><%= hope_shift.working_time_start %></td>
          <td><%= hope_shift.working_time_end %></td>
          <td><%= @shift.break_time_start %></td>
          <td><%= @shift.break_time_end %></td>
          <td>
            <%= f.submit '登録', class:"btn btn-info btn-md" %>
            <%#= link_to "本登録", admin_shifts_path(@shift.id), methed: :post %>


          </td>
          <td><%= link_to "編集", edit_admin_shift_path(hope_shift.id ) %></td>
          <td><%= link_to "削除する", admin_shift_path(hope_shift.id), method: :delete %></td>
    	 </tr>
      <% end %>
    </table>
  <% end %>
</div>