  <div id = "header">
      <%= link_to root_path do %>
      		<h1>NewShift</h1>
      <% end %>


      <div id="box" style="margin: 0 auto 20px; text-align: center;">
      <!-- ログイン時表示される内容-->
      <% if admin_signed_in? %>
          <%= link_to 'ユーザートップページ', public_homes_top_path, class:"btn btn-primary text-dark bg-light" %>
      	  <%= link_to 'シフト作成', admin_hope_shifts_path, class:"btn btn-primary text-dark bg-light" %>
          <%= link_to '従業員一覧', admin_end_users_path, class:"btn btn-primary text-dark bg-light" %>
      	  <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class:"btn btn-primary text-dark bg-light" %>

      	<% else %>
      <!-- ログアウト時に表示される内容 -->
      	  <%= link_to '新規登録', new_end_user_registration_path %>
      	  <%= link_to 'ログイン', new_admin_session_path %>
      	<% end %>
      </div>
  </div>